.calculadora{
    background-color: gray;
    padding: 25px;
    border-radius: 3%;
}

.teclado{
    background-color: red;
}

.teclas{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-left: 0px ;
    text-align: center;
    width: 100%;
    
}

.tecla{
    background-color: black;
    text-align: center;
    color: white;
    width: 45px;
    height: 45px;
    padding: 5px;
    margin: 2px;
    display: block;
}

.tecla-igual{
    background-color: blue;
    text-align: center;
    color: white;
    display: block;
    width: 45px;
    height: 92px;
    padding: 5px;
    margin: 2px;
    
}


.resultado{
    background-color: blue;
    border: 1px;
    border-style: solid;
    height: 65px;
   
}

.led{

    text-align: right;
    font-size: xx-large;
    width: 100%;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
}



@media screen and (min-width: 992px) {
    
    .tecla{
        width: 50px;
    }

    .tecla-igual{
        width: 50px;
        
    }

}

@media screen and (min-width: 1200px) {
    
    .tecla{
        width: 60px;
    }

    .tecla-igual{
        width: 60px;
        
    }
    
}
